<div class="jujube">
    <yz-ngx-toasty [position]="'center-center'"></yz-ngx-toasty>
    <div>
        <p class="quality-p">青枣气候品质评价模型：
            <span data-toggle="tooltip" data-placement="right" data-html="true" title="说明：
            ACQI——青枣气候品质评价指数；
            ai——采收前{{jujube.tavgDays}}天的平均气温、采收前{{jujube.tcDays}}天温度平均日较差和平均日照时数的权重系数通常分别取0.4,0.3,0.3。
            Mi——台湾青枣采收前{{jujube.tavgDays}}天无农业气象灾害影响下的日平均气温、采收前{{jujube.tcDays}}天无农业气象灾害影响下的平均日较差和平均日照时数的分级值（见表1）。
            按青枣气候品质指数，将青枣气候品质划分为4个等级，见表2。">
                <b><i>ACQI</i>=∑<i>a<sub>i</sub>M<sub>i</sub></i></b>
            </span>
            <!-- 式中：<br>
            <p><b><i>ACQI</i></b>——青枣气候品质评价指数；</p>
            <p><b><i>a<sub>i</sub></i></b>——采收前90天的平均气温、采收前30天温度平均日较差和平均日照时数的权重系数通常分别取0.4,0.3,0.3。</p>
            <p><b><i>M<sub>i</sub></i></b>——台湾青枣采收前90天无农业气象灾害影响下的日平均气温、采收前30天无农业气象灾害影响下的平均日较差和平均日照时数的分级值（见表1）。</p> -->
        </p>
    </div>
    <div class="text-center">
        <div class="title-p">表1 台湾青枣的气候品质评价气象指标及等级划分</div>
        <div class="row">
            <div class="col-lg-1 p-2 border border-bottom-0 border-right-0 table-title">
                M<sub>i</sub><br>赋值
            </div>
            <div class="col-lg-11 row">
                <div class="col-lg-12 p-2 border border-bottom-0 table-title">气象指标</div>
                <div class="col-lg-4 p-2 border border-bottom-0 border-right-0">
                    采收前{{jujube.tavgDays}}天平均气温T<sub>avg</sub>（℃）</div>
                <div class="col-lg-4 p-2 border border-bottom-0 border-right-0">采收前{{jujube.tcDays}}天平均日较差△T（℃）</div>
                <div class="col-lg-4 p-2 border border-bottom-0">采收前{{jujube.sDays}}天日照时数S（ｈ）</div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1 p-2 border border-bottom-0 border-right-0">3</div>
            <div class="col-lg-11">
                <div class="row">
                    <div class="col-lg-4 p-2 border border-bottom-0 border-right-0">T<sub>avg</sub>≥
                        <input type="number" [(ngModel)]="jujube.tavg3Min" required="true" disabled="{{!isSettingMode}}"
                            [ngClass]="{settingMode: isSettingMode}">
                    </div>
                    <div class="col-lg-4 p-2 border border-bottom-0 border-right-0">△T≥<input type="number"
                            [(ngModel)]="jujube.tc3Min" required="true" disabled="{{!isSettingMode}}"
                            [ngClass]="{settingMode: isSettingMode}"></div>
                    <div class="col-lg-4 p-2 border border-bottom-0">S≥<input type="number" [(ngModel)]="jujube.s3Min"
                            required="true" disabled="{{!isSettingMode}}" [ngClass]="{settingMode: isSettingMode}">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1 p-2 border border-bottom-0 border-right-0">2</div>
            <div class="col-lg-11">
                <div class="row">
                    <div class="col-lg-4 p-2 border border-bottom-0 border-right-0">
                        <input type="number" [(ngModel)]="jujube.tavg2Min" required="true" disabled="{{!isSettingMode}}"
                            [ngClass]="{settingMode: isSettingMode}">≤T<sub>avg</sub>&lt;<input type="number"
                            [(ngModel)]="jujube.tavg3Min" required="true" disabled="{{!isSettingMode}}"
                            [ngClass]="{settingMode: isSettingMode}">
                    </div>
                    <div class="col-lg-4 p-2 border border-bottom-0 border-right-0">
                        <input type="number" [(ngModel)]="jujube.tc2Min" required="true" disabled="{{!isSettingMode}}"
                            [ngClass]="{settingMode: isSettingMode}">≤△T&lt;<input type="number"
                            [(ngModel)]="jujube.tc3Min" required="true" disabled="{{!isSettingMode}}"
                            [ngClass]="{settingMode: isSettingMode}">
                    </div>
                    <div class="col-lg-4 p-2 border border-bottom-0"><input type="number" [(ngModel)]="jujube.s2Min"
                            required="true" disabled="{{!isSettingMode}}"
                            [ngClass]="{settingMode: isSettingMode}">≤S&lt;<input type="number"
                            [(ngModel)]="jujube.s3Min" required="true" disabled="{{!isSettingMode}}"
                            [ngClass]="{settingMode: isSettingMode}"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1 p-2 border border-bottom-0 border-right-0">1</div>
            <div class="col-lg-11">
                <div class="row">
                    <div class="col-lg-4 p-2 border border-bottom-0 border-right-0">
                        <input type="number" [(ngModel)]="jujube.tavg1Min" required="true" disabled="{{!isSettingMode}}"
                            [ngClass]="{settingMode: isSettingMode}">≤T<sub>avg</sub>&lt;<input type="number"
                            [(ngModel)]="jujube.tavg2Min" required="true" disabled="{{!isSettingMode}}"
                            [ngClass]="{settingMode: isSettingMode}">
                    </div>
                    <div class="col-lg-4 p-2 border border-bottom-0 border-right-0">
                        <input type="number" [(ngModel)]="jujube.tc1Min" required="true" disabled="{{!isSettingMode}}"
                            [ngClass]="{settingMode: isSettingMode}">≤△T&lt;<input type="number"
                            [(ngModel)]="jujube.tc2Min" required="true" disabled="{{!isSettingMode}}"
                            [ngClass]="{settingMode: isSettingMode}">
                    </div>
                    <div class="col-lg-4 p-2 border border-bottom-0"><input type="number" [(ngModel)]="jujube.s1Min"
                            required="true" disabled="{{!isSettingMode}}"
                            [ngClass]="{settingMode: isSettingMode}">≤S&lt;<input type="number"
                            [(ngModel)]="jujube.s2Min" required="true" disabled="{{!isSettingMode}}"
                            [ngClass]="{settingMode: isSettingMode}"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1 p-2 border border-right-0">0</div>
            <div class="col-lg-11">
                <div class="row">
                    <div class="col-lg-4 p-2 border border-right-0">T<sub>avg</sub>&lt;<input type="number"
                            [(ngModel)]="jujube.tavg1Min" required="true" disabled="{{!isSettingMode}}"
                            [ngClass]="{settingMode: isSettingMode}">
                    </div>
                    <div class="col-lg-4 p-2 border border-right-0">△T&lt;<input type="number"
                            [(ngModel)]="jujube.tc1Min" required="true" disabled="{{!isSettingMode}}"
                            [ngClass]="{settingMode: isSettingMode}">
                    </div>
                    <div class="col-lg-4 p-2 border">S&lt;<input type="number" [(ngModel)]="jujube.s1Min"
                            required="true" disabled="{{!isSettingMode}}" [ngClass]="{settingMode: isSettingMode}">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <div class="title-p">表2 台湾青枣气候品质评价等级划分标准</div>
        <div class="row">
            <div class="col-lg-1 p-2 border border-bottom-0 border-right-0 table-title">等级</div>
            <div class="col-lg-11 p-2 border border-bottom-0 table-title">气候品质指数（ACQI）</div>
        </div>
        <div class="row">
            <div class="col-lg-1 p-2 border border-bottom-0 border-right-0">特优</div>
            <div class="col-lg-11 p-2 border border-bottom-0">ACQI≥<input type="number" [(ngModel)]="jujube.acqi3Min"
                    required="true" disabled="{{!isSettingMode}}" [ngClass]="{settingMode: isSettingMode}"></div>
        </div>
        <div class="row">
            <div class="col-lg-1 p-2 border border-bottom-0 border-right-0">优</div>
            <div class="col-lg-11 p-2 border border-bottom-0"><input type="number" [(ngModel)]="jujube.acqi2Min"
                    required="true" disabled="{{!isSettingMode}}" [ngClass]="{settingMode: isSettingMode}">≤ACQI＜<input
                    type="number" [(ngModel)]="jujube.acqi3Min" required="true" disabled="{{!isSettingMode}}"
                    [ngClass]="{settingMode: isSettingMode}"></div>
        </div>
        <div class="row">
            <div class="col-lg-1 p-2 border border-bottom-0 border-right-0">良</div>
            <div class="col-lg-11 p-2 border border-bottom-0"><input type="number" [(ngModel)]="jujube.acqi1Min"
                    required="true" disabled="{{!isSettingMode}}" [ngClass]="{settingMode: isSettingMode}">≤ACQI＜<input
                    type="number" [(ngModel)]="jujube.acqi2Min" required="true" disabled="{{!isSettingMode}}"
                    [ngClass]="{settingMode: isSettingMode}"></div>
        </div>
        <div class="row">
            <div class="col-lg-1 p-2 border border-right-0">一般</div>
            <div class="col-lg-11 p-2 border">ACQI＜<input type="number" [(ngModel)]="jujube.acqi1Min" required="true"
                    disabled="{{!isSettingMode}}" [ngClass]="{settingMode: isSettingMode}"></div>
        </div>
    </div>
    <div id="resultDiv" class="text-center" style="width:800px;display: none">
        <div id="headDiv" class="row"></div>
        <div id="bodyDiv"></div>
    </div>
</div>