@import '../../sass/conf/conf';
@import '../../components/baMsgCenter/baMsgCenter';
@import '../../../pages/scss/color';
.page-top {
  position: fixed;
  z-index: 1009;//904;
  //box-shadow: 2px 0 3px rgba(0, 0, 0, 0.5);
  height: 100px;
  width: 100%;
  min-width: $resMin;
  padding: 0 ;

  // zf
	-webkit-box-shadow: 0 2px 5px rgba(4,0,0,.29);
	-moz-box-shadow: 0 2px 5px rgba(4,0,0,.29);
	box-shadow: 0 2px 5px rgba(4,0,0,.29);
  background-repeat: no-repeat;
  background-size: cover;
  .fadeImg,.top-detail{
    position: absolute;
    width:100%;
    height:100%;
  }
  .top-detail{
    padding: 0 32px 0 40px;
  }
  .dropdown-toggle::after {
    display: none;
  }
  &-level1{
    background-image: $yz-level1-page-top;
  }
  &-level2{
    background-image: $yz-level2-page-top;
  }
  &-level3{
    background-image: $yz-level3-page-top;
  }
}

.blur {
  .page-top.scrolled {
    background-color: rgba(black, 0.85)
  }
}

a.al-logo {
  display: block;
  font-size: 34px;
  font-family: $font-family;
  white-space: nowrap;
  float: left;
  outline: none !important;
  line-height: 100px;

  span {
    color: $primary;
  }
}
.user-profile {
  float: right;
  min-width: 130px;
  margin-top: 28px;
}

.al-user-profile {
  float: right;
  margin-right: 12px;
  transition: all .15s ease-in-out;
  padding: 0;
  //width: 36px;
  height: 45px;
  border: 0;
  opacity: 1;
  position: relative;
  color: white;
  // zf
  display: flex;
  flex-wrap: nowrap;

  a {
    display: block;
    text-transform: uppercase;
  }
  img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgba(0,0,0,.4);
  }
}

a.refresh-data {
  color: #fff;//$sidebar-text;
  font-size: 13px;
  text-decoration: none;
  font-weight: $font-normal;
  float: right;
  margin-top: 13px;
  margin-right: 26px;

  &:hover {
    color: $warning !important;
  }
}

a.collapse-menu-link {
  font-size: 31px;
  cursor: pointer;
  display: block;
  text-decoration: none;
  line-height: 42px;
  color: #fff;//$sidebar-text;
  padding: 0;
  float: left;
  margin: 34px 25px 0 0;
  // background-image: url('/assets/img/images/logo-level1.png');
  height: 32px;
  width: 32px;
  background-repeat: no-repeat;
  background-size:32px;
  position: relative;
  top: 5px;
  left: 10px;

  &:hover {
    text-decoration: none;
    color: $warning;
  }
}

.al-skin-dropdown {
  float: right;
  margin-top: 14px;
  margin-right: 26px;

  .tpl-skin-panel {
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

.icon-palette {
  display: inline-block;
  width: 14px;
  height: 13px;
  @include bg('theme/palette.png');
  background-size: cover;
}

.search {
  text-shadow: none;
  font-size: 13px;
  line-height: 25px;
  transition: all 0.5s ease;
  white-space: nowrap;
  overflow: hidden;
  width: 132px;
  float: left;
  margin: 20px 0 0 20px;

  label {
    cursor: pointer;
  }
  i {
    width: 16px;
    display: inline-block;
    cursor: pointer;
    padding-left: 1px;
    font-size: 16px;
    margin-right: 13px;
  }
  input {
    color: $sidebar-text;
    background: none;
    border: none;
    outline: none;
    width: 120px;
    padding: 0;
    margin: 0 0 0 -3px;
    height: 27px;
  }
}

@media screen and (max-width: $resS) {
  .search {
    display: none;
  }
}

@media screen and (max-width: $resXS) {
  .page-top {
    padding: 0 20px;
  }
}

@media (max-width: $resXXS) {
  .user-profile{
    min-width: 136px;
  }
  a.refresh-data {
    margin-right: 10px;
  }
  a.collapse-menu-link {
    margin-left: 10px;
  }

  .al-skin-dropdown {
    display: none;
  }
}

.profile-toggle-link{
  cursor: pointer;
}

.top-split{
  margin: 10px 15px;
  border-left: 1px solid white;
}

.top-logout {
  // color: inherit;
  // &:hover{
  //   color: #dfb81c;
  // }
  i{
    line-height: 45px;
    height: 45px;
    font-size: 30px;
    vertical-align: middle;
  }
}
#banner-container{
  width: 100%;
  height: 100px;
  overflow: hidden;
  img{
     width: 1400px;
    display: block;
    margin-left:calc(50% - 600px);
  }
}
.imgNoShow{
  display: none
}
.imgShow{
  display: block !important;
}
.banner-bg{
  position: absolute;
  height: 100px;
  width: 100%;
  background-size: 100% 100% !important;
}