<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-horizontal">
    <ba-card title="修改密码" baCardClass="with-scroll">
        <div class="form-group row"
            [ngClass]="{'has-error': (!oldpassword.valid && oldpassword.touched), 'has-success': (oldpassword.valid && oldpassword.touched)}">
            <label for="oldpassword" class="col-lg-2 control-label">请输入旧密码</label>

            <div class="col-lg-10">
                <input type="text" style="display:none">
                <input [formControl]="oldpassword" type="password" class="form-control" id="inputPassword3"
                    name="txtPassword" placeholder="请输入旧密码" />
            </div>
        </div>
        <div class="form-group row"
            [ngClass]="{'has-error': (!newpassword.valid && newpassword.touched), 'has-success': (newpassword.valid && newpassword.touched)}">
            <label for="newpassword" class="col-lg-2 control-label">请输入新密码</label>
            <div class="col-lg-10">
                <input [formControl]="newpassword" type="password" class="form-control" id="newpassword"
                    placeholder="请输入新密码" [(ngModel)]="newPassword">
                <span *ngIf="!newpassword.valid && newpassword.touched"
                    class="help-block sub-little-text">密码长度最少为4位</span>
            </div>
        </div>
        <div class="form-group row"
            [ngClass]="{'has-error': ((!repassword.valid && repassword.touched)||newPassword!=rePassword), 'has-success': (repassword.valid && repassword.touched && newPassword==rePassword)}">
            <label for="repassword" class="col-lg-2 control-label">请重复输入新密码</label>

            <div class="col-lg-10">
                <input [formControl]="repassword" type="password" class="form-control" id="repassword"
                    placeholder="请重复输入新密码" [(ngModel)]="rePassword">
                <span *ngIf="newPassword!=rePassword && (newpassword.touched || repassword.touched)"
                    class="help-block sub-little-text">两次密码输入不一致</span>
                <span *ngIf="!repassword.valid && (newpassword.touched || repassword.touched)"
                    class="help-block sub-little-text">密码长度最少为4位</span>
            </div>
        </div>
    </ba-card>
    <div class="form-group row">
        <div class="col-lg-4 control-label"></div>
        <div class="offset-sm-1 col-lg-3">
            <button [disabled]="!form.valid" type="submit" class="btn yz-btn" [ngClass]="btnClassLevel">提交</button>
        </div>
    </div>
</form>
<yz-ngx-toasty [position]="'center-center'"></yz-ngx-toasty>