<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title pull-left">站点选择</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div style="max-height: 360px;overflow: auto">
            <station-choose (onSelected)="setStations($event)" #stationChoose></station-choose>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-info" (click)="confirm();bsModalRef.hide();">确认</button>
        <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">关闭</button>
    </div>
</div>