.table-top{
    margin-bottom: 2%;
}
.table-bottom,.table-top{
    height: 48%;
    width: 100%;
}
.table-bottom{
    margin-top: 2%;
}
.cropTableCard{
    height: 100%;
}
.addnew{
    position: absolute;
    top: 5px;
    right: 22px;
}