.body-level1{
    main,.al-sidebar-right,.al-sidebar-left{
        background-color: $main-bg-level1 !important;
    }
    .fadeImg{
        position: absolute;
        margin: 0 auto;
        top: 0;
        opacity: 1;
        background-size: cover;
        -webkit-backface-visibility: hidden;
    }
    .banner-bg{
        background: url('/assets/img/images/banner-level1.png');
    }
    a.al-logo,.al-user-profile a{
        color:$page-color-level1;
    }
    .navbar-top,.navbar-collapse{
        background-color: $title-bg-level1;
    }
    .navbar-top a.al-sidebar-list-link-level1:hover{
        color:$title-active-bg-level1;
    }
    .todo-title{
        background-color: $card-title-bg-level1;
        color:white;
        border-bottom: 1px solid $crop-border-level1;
    }
    .crop{
        border: 1px solid $crop-border-level1;
    }
    .cropSelected{
        background-color:$crop-select-level1;
    }
    .card,.al-sidebar{
        background-color: $card-bg-level1;
    }
    .fc-list-empty{
        background-color:$empty-bg-level1;
    }
    dashboard .card-header,quality .card-header{
        background-image: none !important;
        background-color: $card-title-bg-level1 !important;
    }
    dashboard .card-title,quality .card-title {
        color:$card-title-color-level1;
    }
    .card-title {
        color: $card-title-bg-level1;
    }
    .product-item{
        background-color: $common-bg-level1;
    }
    .navbar-top .al-sidebar-list-item.selected {
        background-color: $title-active-bg-level1;
    }
    .right-about .card-body {
        color: $black-one-color;
        // span{
        //     font-size: $font-size-12;
        // }
    }
    a.collapse-menu-link {
        background-image: url('/assets/img/images/logo-level1.png');
    }
    .al-sidebar-sublist > ba-menu-item > li.selected:not(.with-sub-menu) > a,.nav-pills .nav-link.active{
        border-left: 4px solid $aside-border-level1;
        border-radius: 0;
        color: $aside-border-level1;
        background-color: $aside-bg-level1;
    }
    .crop-list .nav-tabs > li.active > a,.list-group-item.active,.c-token,.modal-header,.fileActive{
        background-color: $card-title-bg-level1!important;
        color:$white-color !important;
        border: none !important;
    }
    .ba-sidebar-item-expanded>a,button.yz-btn-level1,.nav.nav-tabs > li.active > a,span.tag,.btn-primary,
    .radio-label input[type="radio"]:checked + span{
        background-color: $aside-border-level1;
        color: $white-color !important;
    }
    .al-sidebar-sublist > ba-menu-item > li a,.nav-justified .nav-item a,.nav{
        color: $text-color-level1;
        font-size: $font-size-14;
    }
    a.al-sidebar-list-link,a.al-sidebar-list-link b{
        color: $aside-border-level1;
    }
    .form-group label,.form-control,form-control[readonly]{
        color: $text-color-level1 !important;
    }
    .container{
        color: $text-color-level1;
    }
    .card-header{
        background-color: $white-color;
        border-bottom: 1px solid $header-border-level1;
    }
    .card.crop-detail .row,.card.crop-detail .nav.nav-tabs{
        background-color: $aside-bg-level1;
    }
    .card.crop-detail .list-group-item{
        background-color: $aside-bg-level1;
        border-bottom: 1px solid $white-color !important;
        color:$title-bg-level1;
    }
    .card.crop-detail .nav-tabs > li.active > a,.card.crop-detail .list-group-item.active,.c-token,
    .card.crop-detail .tab-content{
        background-color:$title-bg-level1 !important;
        border: none !important;
        border-radius: 0;
    }
    .card.crop-detail .col-sm-9{
        background-color:$tab-bg-level;
    }
    .idx-btn-save{
        background-color: $white-color;
    }
    .modal-body .nav-pills .nav-link.active {
        color: $aside-border-level1;
        background-color: $aside-bg-level1;
        border: 1px solid $header-border-level1;
    }
    .modal-body .nav-link{
        background-color: $aside-bg-level1;
    }
    #img-container .bannerImg{
        border: 1px solid $header-border-level1;
    }
    #img-container .col-sm-6{
        border: 5px solid $header-border-level1;
    }
    .btn-secondary {
        background-color: $title-bg-level1;
        border-color: $title-bg-level1;
    }
    input[readonly]{
        color: #000 !important;
    }
    .modal-header .close{
        color:white;
    }
    .ag-header-cell-menu-button{
        opacity: 1 !important;
    }
    .card.quality .card-header{
        background-color: #288e44;
    }
    .button-list{
        button{
            background-color: #288e44;
        }
    }
    .jujube{
        .text-center{
            .table-title{
                background-color: #e2f2e6;
                color: #288e44;
            }
            .col-lg-1{
                color: #288e44;
            }
        }
    }
}
@media (min-width: 1200px){
    .container {
        max-width: 2048px;
    }
}